<!DOCTYPE html>
<html>
  <head>
    <%- include("shared/head",{title: "Desafios"}) %>
    <style> 
      table,td,th {
        border: 1px solid black;
        
      }
      table {
        border-collapse : collapse
      }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <table>
        <tr>
        <th>ID</th>
        <th>nome</th>
        <th>descricao</th>
        <th>pontos</th>
      </tr>
      <% for (let prop of results ) { %>
        <tr>
          <td> <%- prop.id %> </td>
          <td> <%- prop.nome %> </td>
          <td> <%- prop.descricao %> </td>
          <td> <%- prop.pontos %> </td>

        </tr>
      <% } %>
    </table>
  </body>
</html>